

@{
    ViewBag.Title = "Index";
}

<h2>Sök profiler</h2>

@using (Html.BeginForm("Search", "Search"))
{
    <input type="text" name="Searchstring" id="Searchstring" />

    <input type="submit" value="Sök" />
}
<table class="table">
    <tr>
        <th>

        </th>
    </tr>


    <tr>
        <td></td>

    </tr>

</table>
